/TestCpp/Debug
/TestCpp/TestCpp/Debug
/TestCpp/ipch
/TestCpp/.vs
/MyD3D11Project/Debug
/MyD3D11Project/MyD3D11Project/Debug
/MyD3D11Project/ipch
/MyD3D11Project/.vs


/MyRayTracer/x64
/MyRayTracer/Debug
/MyRayTracer/MyRayTracer/x64
/MyRayTracer/MyRayTracer/Debug
/MyRayTracer/.vs

*.sdf
*.sln
*.db
*.opendb
*.vcxproj
*.filters
*.fxo
*.cod

*.suo
